body {
	background-color: #333;
}

tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}
tr:hover {background: #CCC}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
}

.flag {
	margin-right: 2px;
}

th {
	background-color: black;
	color: white;
}

noscript {
	background-color: red;
	border: 1px solid black;
	width: 100%;
	top: 0px;
	text-align: center;
	display: block;
	position: fixed;
}

#content {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	margin-top: 25px;
	padding: 3px;
	background-color: #CCC;
	border: 1px solid black;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.filter-block {
  background-color: #ccc;
  width: 100%;
  overflow:auto;
}

.filter-block-column {
  padding: 10px;
}

.filter-block-left-column {
  float: left;
  width: 50%;
}

.filter-block-center-column {
  display: inline-block;
  width: 30%;
}

.filter-block-right-column {
  float: right;
  width: 20%;
}

.filter-block-column select{
  border: 1px solid #8496ba;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 29px;
}

.filter-block-cell {
  min-height: 70px;
  font-size: 13px;
}

.filter-block-cell .simple_text{
  border: 1px solid #8496ba;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  height: 29px;
  border-radius: 4px;
}

.filter-block-cell .token-input-list-facebook {
  width: 100%;
  border-radius: 4px;
}
