body {
	background-color: #333;
}

tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}
tr:hover {background: #CCC}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
}

.flag {
	margin-right: 2px;
}

th {
	background-color: black;
	color: white;
}

noscript {
	text-align: center;
	width: 100%;
	position: absolute;
	vertical-align: center;
	top: 20px;
	font-size: 16px;
}

#content {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	margin-top: 20px;
	padding: 3px;
	background-color: #CCC;
	border: 1px solid black;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#pickup-status {
	background-color: white;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#pickup-status td, 
#pickup-status th
{
	height: 10px;
	font-size: x-small;
}
